.main{
    width: 400px;
    height: 500px;
    background-color: black;
}
.display{
    width: 98%;
    height: 50px;
    background-color: white;
    margin: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row button{
    width: 50px;
    height: 50px;
}